<div class="page-wrapper">
    <div class="page-content--bgf7">
        <section class="au-breadcrumb2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active">
                                        <a [routerLink]="['/']">Home</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>/</span>
                                    </li>
                                    <li class="list-inline-item">Index Beers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-t-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title-5 m-b-35">Index Beers</h3>
                        <div style="float: right; margin-bottom: 1%;">
                            <button type="button" class="btn btn-warning" [routerLink]="['/new-beer']">
                                <i class="fa fa-plus"></i>&nbsp;New Beer</button>
                        </div>
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Ml</th>
                                        <th>Container</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="beers.length < 1">No hay cervezas registradas</tr>
                                    <tr *ngFor="let beer of beers">
                                        <td>{{beer.name}}</td>
                                        <td>{{beer.mL}} ml</td>
                                        <td>{{beer.container}}</td>
                                        <td>
                                            <a type="button" type="button" class="btn btn-outline-primary"
                                                [routerLink]="['/edit-beer', beer.id]" routerLinkActive="router-link-active">
                                                <i class="fa fa-edit"></i></a>
                                            &nbsp;
                                            <a type="button" class="btn btn-outline-danger" (click)="delete(beer.id)">
                                                <i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>